<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanjia.millionlikes.mapper.BlogMapper">

    <update id="batchUpdateThumbCount">
        UPDATE blog
        SET thumbCount = thumbCount + CASE id
        <foreach collection="countMap.entrySet()" item="value" index="key">
            WHEN #{key} THEN #{value}
        </foreach>
        END
        WHERE id IN
        <foreach collection="countMap.keySet()" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
